body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #333;
}

.header, .footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  overflow-x: auto; /* Adicionado para rolagem horizontal */
}

table {
  width: 100%; /* Tabela ocupa 100% do contêiner */
  border-collapse: collapse; /* Remove espaços entre as células */
}

th, td {
  border: 1px solid #ddd; /* Borda suave para células */
  padding: 10px; /* Espaçamento interno das células */
  text-align: left; /* Alinhamento à esquerda do texto */
}

th {
  background-color: #ff7e5f; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo das linhas pares */
}

.button {
    background-color: #ff7e5f; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
    width: 95%; /* Botão ocupa 100% da largura do container */
    text-align: center; /* Centraliza o texto */
    display: inline-block; /* Faz o botão se comportar como um bloco */
    text-decoration: none; /* Remove o sublinhado dos links com a classe button *
  }


.button:hover {
  background-color: #e76c3c; /* Tom mais escuro ao passar o mouse */
}

.form-container {
  max-width: 400px; /* Limita a largura do formulário */
  margin: auto; /* Centraliza o formulário na página */
  padding: 20px; /* Espaçamento interno */
  background: #fff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

label {
  display: block; /* Faz com que os labels ocupem toda a largura */
  margin-bottom: 5px; /* Espaço abaixo do label */
}

input[type="text"],
input[type="password"] {
  width: 97%; 
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ddd; /* Borda suave */
  border-radius: 4px; /* Bordas arredondadas */
  margin-bottom: 15px; /* Espaço abaixo de cada campo */
}

@media (max-width: 600px) {
  table {
      display: block; /* Tabela se torna um bloco em telas pequenas */
      overflow-x: auto; /* Rolagem horizontal */
      white-space: nowrap; /* Previne quebras de linha nas células */
  }
}
